src/meme.xsd

<?xml version="1.0" encoding="utf-8"?>

<xs:schema attributeFormDefault="unqualified" elementFormDefault="unqualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">





	<xs:complexType name="BoundingBoxType">
		<xs:sequence>
			<xs:element name="xmin" type="xs:int" />
			<xs:element name="ymin" type="xs:int" />
			<xs:element name="xmax" type="xs:int" />
			<xs:element name="ymax" type="xs:int" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="FloatBoundingBoxType">
		<xs:sequence>
			<xs:element name="xmin" type="xs:float" />
			<xs:element name="ymin" type="xs:float" />
			<xs:element name="xmax" type="xs:float" />
			<xs:element name="ymax" type="xs:float" />
		</xs:sequence>
	</xs:complexType>

	<xs:simpleType name="OrientationType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Landscape"/>
			<xs:enumeration value="Portrait"/>
		</xs:restriction>
	</xs:simpleType>


	<xs:simpleType name="ZoneType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Title"/>
			<xs:enumeration value="Feature"/>
			<xs:enumeration value="Reaction"/>
			<xs:enumeration value="Caption"/>
			<xs:enumeration value="Avatar"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:element name="ZoneLayouts">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ZoneLayout" minOccurs="1" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element minOccurs="1" maxOccurs="unbounded" name="Zone" >
								<xs:complexType>
									<xs:sequence>
										<xs:element maxOccurs="unbounded" name="BoundingBox" type="FloatBoundingBoxType"/>
									</xs:sequence>
									<xs:attribute name="Type" type="ZoneType" use="required" />
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="Name" type="xs:string" use="required" />
						<xs:attribute name="Orientation" type="OrientationType" use="required" />
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<!-- VOC support -->
	<xs:complexType name="ObjectType">
		<xs:sequence>
			<xs:element name="name" type="xs:string" />
			<xs:element name="pose" type="xs:string" />
			<xs:element name="truncated" type="xs:unsignedByte" />
			<xs:element name="difficult" type="xs:unsignedByte" />
			<xs:element name="bndbox" type="BoundingBoxType"/>

		</xs:sequence>
	</xs:complexType>

	<xs:element name="annotation">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="folder" type="xs:string" />
				<xs:element name="filename" type="xs:string" />
				<xs:element name="path" type="xs:string" />
				<xs:element name="source">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="database" type="xs:string" />
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="size">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="width" type="xs:unsignedShort" />
							<xs:element name="height" type="xs:unsignedShort" />
							<xs:element name="depth" type="xs:unsignedByte" />
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="segmented" type="xs:unsignedByte" />
				<xs:element maxOccurs="unbounded" name="object" type="ObjectType">

				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:complexType name="ReactionReferenceType">
		<xs:attribute name="ID" use="required" type="xs:string"/>
		<xs:attribute name="o" use="optional" type="xs:float"/>
		<xs:attribute name="f" use="optional" type="xs:boolean"/>
	</xs:complexType>

	<xs:complexType name="ReactionClipType">
		<xs:attribute name="ID" use="required" type="xs:string"/>
		<xs:attribute name="Keywords" use="required">
			<xs:annotation>
				<xs:documentation>search keywords or local filename</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:list itemType="xs:string"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="Offset" use="optional" type="xs:float">
			<xs:annotation>
				<xs:documentation>
				offset from selected playback position.  This amount will be added to the timestamp
				that was selected for clip playback.  Specify to obtain precise clip playback time.
			</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="Source" use="required" type="SourceType">
			<xs:annotation>
				<xs:documentation>Clip source</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="Freeze" use="optional" type="xs:boolean">
			<xs:annotation>
				<xs:documentation>Freeze feature while reaction is playing</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="PopSize" use="optional" type="xs:int">
			<xs:annotation>
				<xs:documentation>Max size of population from which to draw random clip.  Specify a smaller
			number to obtain a higher rank result</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="Skip" type="xs:float" use="optional">
			<xs:annotation>
				<xs:documentation>
			An optional region to skip from beginning of clip
			</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="Duration" type="xs:float" use="optional">
			<xs:annotation>
				<xs:documentation>
					Desired clip duration.  Only meaningful for randomly selected clips.  Selected clip will be as close
					to this value as possible, either longer or shorter.

					Specify -1 to choose a clip which fits the available 'display window', which is defined as the amount
					of time before the end of panel, or the next reaction clip, whichever is shorter.
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="Zone" type="ZoneType" use="optional">
			<xs:annotation>
				<xs:documentation>

				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="Fullscreen" type="xs:boolean" use="optional"/>
		<xs:attribute name="BoundingBox" use="optional">
			<xs:simpleType>
				<xs:list itemType="xs:float"/>
			</xs:simpleType>

		</xs:attribute>



		<xs:attribute name="Rectify" type="RectifyDurationType" use="optional">
			<xs:annotation>
				<xs:documentation>
					Rectify - the action to take if the clip exceeds the specified duration
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>

	<xs:simpleType name="SourceType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Tenor">
				<xs:annotation>
					<xs:documentation>Tenor gif search</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Vlipsy">
				<xs:annotation>
					<xs:documentation>vlipsy movie search</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Local">
				<xs:annotation>
					<xs:documentation>Local asset filename.  Can be movie, gif, image (png) or audio (wav)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="RectifyDurationType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Truncate">
				<xs:annotation>
					<xs:documentation>truncate</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Speedup">
				<xs:annotation>
					<xs:documentation>speed up or compress</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Freeze">
				<xs:annotation>
					<xs:documentation>freeze</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Reject">
				<xs:annotation>
					<xs:documentation>reject</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="None">
				<xs:annotation>
					<xs:documentation>none</xs:documentation>
				</xs:annotation>
			</xs:enumeration>

		</xs:restriction>
	</xs:simpleType>


	<xs:simpleType name="StateType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="CREATED"/>
			<xs:enumeration value="OCR"/>
			<xs:enumeration value="OCR_QC"/>
			<xs:enumeration value="TTS"/>
			<xs:enumeration value="TIMESTAMP"/>
			<xs:enumeration value="TIMESTAMP_QC"/>
			<xs:enumeration value="PRODUCED"/>
			<xs:enumeration value="PRODUCED_QC"/>
		</xs:restriction>
	</xs:simpleType>


	<xs:complexType name="FontType">
		<xs:attribute name="Color" type="xs:string" use="optional"/>
		<xs:attribute name="HighlightColor" type="xs:string" use="optional"/>
		<xs:attribute name="Name" type="xs:string" use="optional"/>
		<xs:attribute name="Size" type="xs:int" use="optional"/>
		<xs:attribute name="StrokeColor" type="xs:string" use="optional"/>
		<xs:attribute name="StrokeWidth" type="xs:float" use="optional"/>
	</xs:complexType>


	<xs:complexType name="SpeakType">
		<xs:sequence>
			<xs:any processContents="skip" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>

	<xs:simpleType name="ContentType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Picture"/>
			<xs:enumeration value="Caption"/>
			<xs:enumeration value="TextBubble"/>
		</xs:restriction>

	</xs:simpleType>

	<xs:complexType name="PictureContent">
		<xs:complexContent>
			<xs:extension base="BoundingBoxType">
				<xs:sequence>
					<xs:element name="Text" maxOccurs="1"  minOccurs="1">
						<xs:complexType mixed="true">
							<xs:sequence minOccurs="0">
								<xs:element name="R" maxOccurs="unbounded" type="ReactionReferenceType"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
				
				<xs:attribute name="Duration" type="xs:float" use="optional"/>
				<xs:attribute name="Background" type="xs:string" use="optional"/>
				<xs:attribute name="Clean" type="CleanMethod" use="required"/>
				<xs:attribute name="DontAnimate" type="xs:boolean" use="optional"/>
				<xs:attribute name="Zoom" type="xs:boolean" use="optional"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="CaptionContent">
		<xs:complexContent>
			<xs:extension base="PictureContent">
				<xs:sequence>
					<xs:element name="speak"  type="SpeakType" maxOccurs="1"  minOccurs="0" />
					<xs:element name="Timestamps" minOccurs="1" maxOccurs="1">
						<xs:simpleType>
							<xs:list itemType="xs:float"/>
						</xs:simpleType>
					</xs:element>
				</xs:sequence>
			<xs:attribute name="OCR" type="xs:boolean" use="required"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:simpleType name="CleanMethod">
		<xs:restriction base="xs:string">
			<xs:enumeration value="SMART"/>
			<xs:enumeration value="SOLID"/>
			<xs:enumeration value="NONE"/>
		</xs:restriction>

	</xs:simpleType>

		<xs:simpleType name="FontSizeNormalizationType">
		<xs:restriction base="xs:string">

			<xs:enumeration value="MEAN"/>
			<xs:enumeration value="MIN"/>
			<xs:enumeration value="MAX"/>
		</xs:restriction>

	</xs:simpleType>

	<xs:complexType name="TextBubbleContent">
		<xs:complexContent>
			<xs:extension base="CaptionContent">
				<xs:sequence maxOccurs="1" minOccurs="1">
					<xs:element name="Font" type="FontType"/>
				</xs:sequence>
				<xs:attribute name="Group" type="xs:boolean" use="optional"/>
			</xs:extension>
		</xs:complexContent>

	</xs:complexType>

	<xs:simpleType name="IntListType">
		<xs:list itemType="xs:int" />
	</xs:simpleType>
	<xs:complexType name="PanelType">
		<xs:complexContent>
			<xs:extension base="BoundingBoxType">
				<xs:sequence minOccurs="0" maxOccurs="unbounded">
					<xs:element name="Content">
						<xs:complexType>
							<xs:sequence minOccurs="1">

								<xs:choice maxOccurs="1" minOccurs="1">
									<xs:element name="TextBubble" type="TextBubbleContent"/>
									<xs:element name="Caption" type="CaptionContent"/>
									<xs:element name="Picture" type="PictureContent"/>
								</xs:choice>

							</xs:sequence>
							<xs:attribute name="Type" type="ContentType"/>
							<xs:attribute name="Speaker" type="xs:integer" use="optional"/>


						</xs:complexType>
					</xs:element>
				</xs:sequence>
					<xs:attribute name="Comment" type="xs:boolean" use="optional"/>
			</xs:extension>
			</xs:complexContent>


		



	</xs:complexType>

	<xs:element name="Meme">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Header">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="State" type="StateType" />
							<xs:element name="Speakers">
								<xs:complexType>
									<xs:sequence>
										<xs:element maxOccurs="unbounded" name="Speaker">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="TextProperties" type="FontType"  maxOccurs="1" minOccurs="1"/>
													<xs:element name="AvatarFilename" type="xs:string" minOccurs="1" maxOccurs="1"/>
												</xs:sequence>

												<xs:attribute name="Voice" type="xs:string" use="required" />
												<xs:attribute name="Speed" type="xs:float" use="optional" />
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="FontSizeNormalization" type="FontSizeNormalizationType" use="optional"/>
					</xs:complexType>
				</xs:element>
				<xs:element name="Reactions" minOccurs="0" maxOccurs="unbounded" type="ReactionClipType"/>
				<xs:element name="Panels" maxOccurs="unbounded" type="PanelType"/>
				<xs:element name="Sequential"  minOccurs="0" maxOccurs="1">
					<xs:complexType>
						<xs:attribute name="Margin" use="optional" type="xs:integer"/>
						<xs:attribute name="PreferredAxis" use="optional" type="OrientationType"/>
						<xs:attribute name="CrawlSpeed" use="optional" type="xs:float"/>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>